.not-found {
  position: relative;
  margin-left: 3vw;

  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 7rem;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;

  color: #bdbdbd;
}

.img-scarecrow {
  width: 500px;
  height: auto;
}

.no-page-text {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */
  color: #4f4f4f;
}

.txt-container,
.img-container {
  padding: 10px;
}

a {
  color: inherit;
}

.bad-news {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: -0.035em;

  color: #333333;
}

button {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  /* identical to box height */
  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
  /* Gray 1 */
  background: #333333;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
  .img-container {
    text-align: center;
  }
  .img-scarecrow {
    width: 250px;
    height: auto;
  }
}
